# build output
dist/

# dependencies
node_modules/

# astro
.astro/

# environment variables
.env
.env.production

# macOS
.DS_Store

# Windows (Alternate Data Streams / marque de zone)
*Zone.Identifier
*:Zone.Identifier

# claude
CLAUDE.md

