[DEFAULT]
ignoreip = {{ fail2ban_ignoreip | join(' ') }}
backend = systemd

[sshd]
enabled  = true
port     = ssh
maxretry = {{ fail2ban_maxretry }}
findtime = {{ fail2ban_findtime }}
bantime  = {{ fail2ban_bantime }}
